includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

    paths:
        - app
        - bootstrap/app.php
        - config
        - database
        - public
        - routes

    ignoreErrors:
        - identifier: property.phpDocType
          path: .
        - identifier: assign.propertyType
          path: app/Console/Commands/Make*
        - identifier: argument.type
          path: app/Console/Commands/Make*

    level: 5

    tmpDir: /tmp/phpstan
